---
---
$header-bg-color: #e96687;
$header-bg-color-secondary: #421c5e;
$section-headings-color: #421c5e !default;
$body-link-color: #421c5e !default;

@import "{{ site.theme }}";

/* Custom Table Formatting */
table {
  font-size: 0.85em !important;
}

table th, table td {
  padding: 4px 8px !important;
}

/* Hide the View on GitHub button in the header */
.page-header .btn,
header .btn {
  display: none !important;
}

/* Reduce the depth of the page header */
.page-header {
  padding-top: 3.3rem !important;
  padding-bottom: 3.3rem !important;
}